## For each bee id, be able to provide the number of detections in the hive in the given timeslot.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import numpy as np
import pandas as pd
import psycopg2
import psycopg2.extras
from datetime import timedelta, datetime
import time

import bb_utils
import bb_utils.meta
import bb_utils.ids
import bb_backend
from bb_backend.api import FramePlotter, VideoPlotter
from bb_backend.api import get_plot_coordinates, transform_axis_coordinates, get_image_origin

bb_backend.api.server_adress = 'localhost:8000'
connect_str = """dbname='beesbook' user='reader' host='tonic.imp.fu-berlin.de' 
                 password='' application_name='mehmed'"""

In [26]:
observ_period = timedelta(hours=1)
num_intervals = 60
#TODO: make a num_intervals_per_hour variable (60 vs 720 etc)


#TODO: this needs to change automatically with start_CSV_name
datetime_start = datetime(2016, 8, 23, 12)
#First detections are on 20.07.2016, last are 19.09.2016 (3 months duration)

In [27]:
meta = bb_utils.meta.BeeMetaInfo()

In [28]:
group_idx = 20
group_ids = map(lambda i: i.as_ferwar(), 
                list(map(bb_utils.ids.BeesbookID.from_dec_12, meta.get_foragergroup(group_idx).dec12)))

group_ids = list(group_ids)
group = meta.get_foragergroup(group_idx)
print(group.date)

2016-08-23 00:00:00

In [29]:
sample_df = pd.read_csv('2016-08-23_00:00:00.csv', parse_dates=['timestamp'])

### Reading from saved CSV files

In [22]:
#read and interpret timestamp as date
start_csv_name = '2016-08-23_12:00:00.csv'


print('Processing '+start_csv_name)
df = pd.read_csv(start_csv_name, parse_dates=['timestamp'])


#TODO: include dtype conversion
#read and concat a number of hour-long csvs (memory crashes if >16)
for i in range(13,24):
    if i < 10:
        str_i = '0'+str(i)
    else:
        str_i = str(i)
    csv_name = '2016-08-23_'+str_i+':00:00.csv'
    print('Processing '+csv_name)
    new_data = pd.read_csv(csv_name, parse_dates=['timestamp'])
    df = pd.concat([df, new_data])
    print('Num. rows after appending: '+str(df.shape[0]))

Processing 2016-08-23_12:00:00.csv
Processing 2016-08-23_13:00:00.csv
Num. rows after appending: 6474164
Processing 2016-08-23_14:00:00.csv
Num. rows after appending: 9981923
Processing 2016-08-23_15:00:00.csv
Num. rows after appending: 13537412
Processing 2016-08-23_16:00:00.csv
Num. rows after appending: 17134071
Processing 2016-08-23_17:00:00.csv
Num. rows after appending: 20759708
Processing 2016-08-23_18:00:00.csv
Num. rows after appending: 24165008
Processing 2016-08-23_19:00:00.csv
Num. rows after appending: 27375729
Processing 2016-08-23_20:00:00.csv
Num. rows after appending: 30671785
Processing 2016-08-23_21:00:00.csv
Num. rows after appending: 34009006
Processing 2016-08-23_22:00:00.csv
Num. rows after appending: 37211008
Processing 2016-08-23_23:00:00.csv
Num. rows after appending: 40508773

In [30]:
print(df.shape)

(40508773, 14)

In [32]:
num_intervals = 720
interval_length = observ_period // num_intervals

# create zeros in the shape required by (bees x num_invervals)
intervals = pd.DataFrame(data=np.zeros([len(group_ids),num_intervals])) 
ids = pd.DataFrame(data={'id': group_ids})
ids = pd.concat([ids, intervals], axis=1)
ids.head()

,id,0,1,2,3,4,5,6,7,8,...,710,711,712,713,714,715,716,717,718,719
0,1799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
interval_starttime = datetime_start
ones_count = 0
for i in range(num_intervals): 
    #check detections
    interval_endtime = interval_starttime + interval_length
    before = df['timestamp'] >= interval_starttime 
    after = df['timestamp'] < interval_endtime
    interval_detections = df[before & after]
    n = 0
    for b in ids['id']:
        if b in interval_detections['bee_id'].unique():
            ids.set_value(n, i, 1)
            ones_count += 1
        n += 1 
    interval_starttime = interval_endtime
print(ones_count)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':

2512

In [34]:
ids

,id,0,1,2,3,4,5,6,7,8,...,710,711,712,713,714,715,716,717,718,719
0,1799,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2106,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1180,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1197,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,1714,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1232,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,2031,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
rolled = ids.iloc[:, 1:].rolling(window=3,center=True,axis=1).median()
diffed = rolled.diff(axis=1)
summed = diffed.abs().sum(axis=1) /2


# ids.iloc[:, 1:] = rolled 
# ids
# diffed
# sumtab = pd.concat([ids['id'],summed],axis=1)
# sumtab

sumtab

      id     0
0   1799  10.5
1   1593   5.0
2   2106   1.5
3   1662   7.5
4   1180  11.5
5   2984   8.0
6   1197   0.0
7   1714   9.5
8   1471   6.0
9   1232   4.0
10  2031  11.5

In [140]:
ids_test = ids
diff_df = ids_test.diff(axis=1)
diff_df

,id,0,1,2,3,4,5,6,7,8,...,50,51,52,53,54,55,56,57,58,59
0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0