In [10]:
import psycopg2
import pandas as pd

In [11]:
connect_str = """dbname='beesbook' user='reader' host='tonic.imp.fu-berlin.de' password='' application_name='mehmed'"""

In [13]:
with psycopg2.connect(connect_str) as conn:
    query = """SET geqo_effort to 10;
                SET max_parallel_workers_per_gather TO 8;
                SET temp_buffers to "32GB";
                SET work_mem to "1GB";
                SET temp_tablespaces to "ssdspace";
            SELECT * FROM alive_bees_2016
           ;"""
df = pd.read_sql_query(
    query, conn,
    coerce_float=False)

df.shape

(48672, 2)

In [14]:
df

        timestamp  bee_id
0      2016-07-19       9
1      2016-07-19      10
2      2016-07-19      17
3      2016-07-19      21
4      2016-07-19      22
5      2016-07-19      37
6      2016-07-19      38
7      2016-07-19      40
8      2016-07-19      43
9      2016-07-19      44
10     2016-07-19      49
11     2016-07-19      54
12     2016-07-19      55
13     2016-07-19      59
14     2016-07-19      61
15     2016-07-19      68
16     2016-07-19      77
17     2016-07-19      83
18     2016-07-19      86
19     2016-07-19     100
20     2016-07-19     108
21     2016-07-19     109
22     2016-07-19     112
23     2016-07-19     119
24     2016-07-19     122
25     2016-07-19     125
26     2016-07-19     127
27     2016-07-19     129
28     2016-07-19     132
29     2016-07-19     135
...           ...     ...
48642  2016-09-18    3038
48643  2016-09-18    3054
48644  2016-09-18    3058
48645  2016-09-18    3094
48646  2016-09-18    3104
48647  2016-09-18    3150
48648  2016-09-18    3157
48649  2016-09-18    3158
48650  2016-09-18    3181
48651  2016-09-18    3189
48652  2016-09-18    3191
48653  2016-09-18    3204
48654  2016-09-18    3235
48655  2016-09-18    3259
48656  2016-09-19    1158
48657  2016-09-19    1366
48658  2016-09-19    1744
48659  2016-09-19    1824
48660  2016-09-19    1901
48661  2016-09-19    2282
48662  2016-09-19    2385
48663  2016-09-19    2896
48664  2016-09-19    3031
48665  2016-09-19    3054
48666  2016-09-19    3058
48667  2016-09-19    3094
48668  2016-09-19    3150
48669  2016-09-19    3158
48670  2016-09-19    3181
48671  2016-09-19    3204

[48672 rows x 2 columns]

In [ ]:
w